Parnas 매출 집계 자동화 /Parnas 매출 집계.json
{
  "name": "Parnas 매출 집계",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.parnashotel.com/로그인api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "userId"
            },
            {
              "name": "password",
              "value": "password*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        112
      ],
      "id": "0156b66b-c905-45e1-a98a-1a87c0720833",
      "name": "GET Access Token"
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        112
      ],
      "id": "e302138c-0f3c-44a6-af9a-63c33864b6b6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ffe44a3-301a-489e-b592-d4f6857497b9",
              "name": "hotelName",
              "value": "={{ $json.hotelName }}",
              "type": "string"
            },
            {
              "id": "33036374-dac4-4d9e-a342-5ce5270b21db",
              "name": "checkOutDate",
              "value": "={{ $json.checkOutDate }}",
              "type": "string"
            },
            {
              "id": "7ea069fd-005b-493c-af40-8e00e3fd63d5",
              "name": "membershipNo",
              "value": "={{ $json.membershipNo }}",
              "type": "string"
            },
            {
              "id": "3a9e0a4e-cb62-4bf5-9ed0-76e2304c4669",
              "name": "totalPrice",
              "value": "={{ $json.totalSellingPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        112
      ],
      "id": "2448668a-54dc-4b87-810a-2d9f116e9676",
      "name": "추출"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=오늘 날짜: {{ $now.minus({ days: 1 }).setZone(\"Asia/Seoul\").toFormat(\"yyyy-MM-dd\") }}",
        "options": {
          "systemMessage": "=Role: An agent that analyzes Google Sheets data and creates a sales summary report.\n\nInput:\n - Today’s date is based on the given date.\n - All future date calculations must be based on today’s date.\n   - For example, if today’s date is 2025-08-15, then \"this month\" refers to August 2025, and \"last month\" refers to July 2025.\n - Use [Get Data in Google Sheet Tool] to retrieve sales data.\n - Since the data does not change, retrieve it only once per request.\n - The data format is as follows:\n     - key: string (hotelName-YYYYMM-category)\n     - yearMonth: integer (YYYYMM)\n     - hotel: string (hotel name)\n     - category: string (\"member\", \"non-member\", \"total\")\n     - sales: integer\n\nTask Instructions:\n - For each hotel, include a comparison of sales between this month and last month in the report. If last month’s data does not exist, skip the task.\n - For each hotel, always include the most recent month’s member and non-member sales trends:\n   - Overall sales and proportion.\n   - Highlight hotels where the non-member proportion is relatively high or low.\n - Summarize hotel-level trends:\n   - Top 3 hotels by overall sales.\n   - Top 3 hotels by growth rate.\n   - Hotels showing declining trends.\n - The summary report must be written in Korean.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        624
      ],
      "id": "fdeee6aa-4ad0-49be-ae12-59f48a99e6d1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        48,
        352
      ],
      "id": "31a10c26-3bb9-442c-8e62-f7e34666a487",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        800
      ],
      "id": "f801b5f4-568d-4cbc-b103-6b2bd3ee8fbe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4b9A0wVGSHlfntWd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Gi38BFRZK_gBDG0LjBlXre-_3-VVa4O2qd0FNG3PqZ8",
          "mode": "list",
          "cachedResultName": "파르나스 매출 데이터",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gi38BFRZK_gBDG0LjBlXre-_3-VVa4O2qd0FNG3PqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1147129242,
          "mode": "list",
          "cachedResultName": "호텔별 월별 매출 데이터 템플릿",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gi38BFRZK_gBDG0LjBlXre-_3-VVa4O2qd0FNG3PqZ8/edit#gid=1147129242"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "호텔": "={{ $json.hotelName }}",
            "년월": "={{ $json.yearMonth }}",
            "분류": "={{ $json.type }}",
            "매출": "={{ $json.totalSales }}",
            "key": "={{ $json.hotelName + '-' + $json.yearMonth + '-' + $json.type }}"
          },
          "matchingColumns": [
            "key"
          ],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "년월",
              "displayName": "년월",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "호텔",
              "displayName": "호텔",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "분류",
              "displayName": "분류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "매출",
              "displayName": "매출",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        352
      ],
      "id": "78d8dceb-cece-4e27-91e4-92ae0170499f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "91lCo4Gm3PXN12ar",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import datetime\n\n# 입력 데이터\ndata = _input.first().json.data\n\n# MONTH_MAP = {\n#     \"01\": \"JAN\", \"02\": \"FEB\", \"03\": \"MAR\", \"04\": \"APR\",\n#     \"05\": \"MAY\", \"06\": \"JUN\", \"07\": \"JUL\", \"08\": \"AUG\",\n#     \"09\": \"SEP\", \"10\": \"OCT\", \"11\": \"NOV\", \"12\": \"DEC\"\n# }\n\nagg = {}\n\nfor item in data:\n    hotel = item[\"hotelName\"]\n    check_out_date = datetime.datetime.strptime(item[\"checkOutDate\"], \"%Y-%m-%d\")\n    year_month = check_out_date.strftime(\"%Y%m\")\n    \n    key = f\"{hotel}_{year_month}\"\n    \n    if key not in agg:\n        agg[key] = {\"회원\": 0, \"비회원\": 0}\n    \n    if item[\"membershipNo\"]:\n        agg[key][\"회원\"] += item[\"totalPrice\"]\n    else:\n        agg[key][\"비회원\"] += item[\"totalPrice\"]\n\nresult = []\nfor key, values in agg.items():\n    hotel, yearMonth = key.split(\"_\")\n    member_sales = values[\"회원\"]\n    non_member_sales = values[\"비회원\"]\n    total_sales = member_sales + non_member_sales\n    \n    result.append({\"json\": {\"hotelName\": hotel, \"yearMonth\": yearMonth, \"type\": \"회원\", \"totalSales\": member_sales}})\n    result.append({\"json\": {\"hotelName\": hotel, \"yearMonth\": yearMonth, \"type\": \"비회원\", \"totalSales\": non_member_sales}})\n    result.append({\"json\": {\"hotelName\": hotel, \"yearMonth\": yearMonth, \"type\": \"전체\", \"totalSales\": total_sales}})\n\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        352
      ],
      "id": "1a0e1716-21ba-4fd6-8217-8c852e94381f",
      "name": "매출 구하기"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "user",
            "emailAddress": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', ``, 'string') }}"
          }
        },
        "options": {
          "emailMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Message', ``, 'string') }}",
          "sendNotificationEmail": true
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        736,
        800
      ],
      "id": "57642d8d-4c58-4b0e-ae9b-a2d7db1def4c",
      "name": "Share file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hpLKYcMswEIKRkzi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        864,
        800
      ],
      "id": "39e3681d-5208-4b42-9d6c-797bd6442045",
      "name": "Search files in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hpLKYcMswEIKRkzi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Gi38BFRZK_gBDG0LjBlXre-_3-VVa4O2qd0FNG3PqZ8",
          "mode": "list",
          "cachedResultName": "파르나스 매출 데이터",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gi38BFRZK_gBDG0LjBlXre-_3-VVa4O2qd0FNG3PqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1147129242,
          "mode": "list",
          "cachedResultName": "호텔별 월별 매출 데이터 템플릿",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gi38BFRZK_gBDG0LjBlXre-_3-VVa4O2qd0FNG3PqZ8/edit#gid=1147129242"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        48,
        800
      ],
      "id": "9f183ac5-07de-466b-82be-3b0e55f739ec",
      "name": "Get Data in Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "91lCo4Gm3PXN12ar",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        544,
        352
      ],
      "id": "141d61a0-8d4a-4f67-a061-34bcb7192c2d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=매출 요약 리포트: {{ $json.output }}\n공유할 파일 이름: 파르나스 매출 데이터\n공유 받을 사람: 김호균",
        "options": {
          "systemMessage": "=You are an AI Agent that shares Google Sheets and generates an email with analysis content. Follow these rules:\n\n1. Input:\n   - Receive a Google Sheet ID or URL.\n   - Receive the recipient's identifying information (name or other details).\n   - Receive the analysis summary from the first agent named \"매출 요약 리포트\"\n   - Receive the desired access level (viewer/editor).\n\n2. Google Contacts:\n   - Find the recipient's email address based on the provided information.\n   \n3. Google Drive:\n   - Share the specified Google Sheet file with the found email address.\n   - The contents of the shared email message should not summarize the contents of the \"매출 요약 리포트\" provided, but should be as received.\n   - Ensure the correct permission is applied.\n   - Generate the shareable link.\n\n4. Email Content:\n   - Combine the analysis summary and the shareable link.\n   - When sending the invitation email, include \"매출 요약 리포트\" directly in the body of the email.\n   - The email content **must be in Korean**, clearly explaining the analysis and linking to the Google Sheet.\n\n6. Notes:\n   - Do not perform any analysis of the sheet here.\n   - Only focus on finding the email, sharing the sheet, and generating the email content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        528,
        624
      ],
      "id": "f2f7b7c7-ac3c-4ea1-bba2-56da2e08a8c1",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        112
      ],
      "id": "3f74c98a-8f2e-4367-9c87-0b67426d4d01",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## 예약 목록 API에서 예약 데이터 추출 \n1. 체크아웃 날자를 기준으로 예약 목록 조회 API를 사용하여 전월 예약 데이터 조회\n2. API 에서 받아온 데이터에서 필요한 데이터 추출",
        "height": 256,
        "width": 1472
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        32
      ],
      "typeVersion": 1,
      "id": "ab731140-e95a-48fe-b856-d0c27e9eec42",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 매출 현황 데이터를 Google Sheet에 Upsert\n1. 호텔, 월, 회원여부 별로 매출 집계\n2. 집계된 데이터를 Google Sheet에 업데이트",
        "height": 240,
        "width": 1472,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        288
      ],
      "typeVersion": 1,
      "id": "49abf980-bbd8-4481-b735-73340271e19a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Google Sheet에서 매출 데이터 분석 및 요약 작성\n1. Google Sheet에서 매출 데이터 조회\n2. 조회된 데이터를 AI Agent을 사용하여 요약 내용 작성",
        "height": 432,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        528
      ],
      "typeVersion": 1,
      "id": "b999f929-c42b-47fa-bee9-7c2b2a19a325",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 매출 요약 내용과 업데이트 된 구글 시트를 담당자에게 공유\n1. Contacts 에서 담당자 이메일 조회\n2. 담당자 이메일로 Google Drive로 매출 데이터 시트 공유\n3. 앞에서 작업된 매출 요약 내용을 공유 이메일 내용에 추가",
        "height": 432,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        528
      ],
      "typeVersion": 1,
      "id": "045be37b-2a0c-4497-afac-ef59a95ad4ff",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "https://api.parnashotel.com/예약목록조회",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "rsvStatus",
              "value": "예약완료"
            },
            {
              "name": "checkOutStartDate",
              "value": "={{ $now.minus({ days: 1 }).setZone(\"Asia/Seoul\").startOf(\"month\").toFormat(\"yyyy-MM-dd\") }}"
            },
            {
              "name": "checkOutEndDate",
              "value": "={{ $now.minus({ days: 1 }).setZone(\"Asia/Seoul\").endOf(\"month\").toFormat(\"yyyy-MM-dd\") }}"
            },
            {
              "name": "isAsc",
              "value": "true"
            },
            {
              "name": "sortBy",
              "value": "checkOutDate"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "size",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        112
      ],
      "id": "e208f5ec-5081-4627-ac64-3db68f9861e1",
      "name": "GET Rsv List"
    },
    {
      "parameters": {
        "content": "## 파르나스 호텔 매출 집계 + 분석 & 내용 공유 Work Flow\n### 목적\n- 매달 수기로 처리하고 있는 매출 집계 요청을 자동화 하기 위함\n- 매출 집계 시트에 완료된 업데이트 내용을 담당자에게 공유하는 프로세스 추가\n### 참고사항\n- 매출 분석 내용은 요구사항에 포함되지 않고, 필요한 데이터 셋을 알지 못하여 예시로 작성.\n- 이메일 공유 프로세스를 Jira 티켓 등록하는 프로세스로 변경 가능할지 확인 필요.",
        "height": 208,
        "width": 608,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -176
      ],
      "typeVersion": 1,
      "id": "fbc9d9bb-8950-44ed-b346-dfebba65c922",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "fields": [
          "names",
          "emailAddresses"
        ],
        "useQuery": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Query', ``, 'boolean') }}",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        592,
        800
      ],
      "id": "10388ff6-db0e-4297-835e-502485fcc51f",
      "name": "Get many contacts in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "YgZZStZzjAPC603x",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        800
      ],
      "id": "d4a726e4-13aa-4799-acff-4dbe189aa3af",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4b9A0wVGSHlfntWd",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GET Access Token": {
      "main": [
        [
          {
            "node": "GET Rsv List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "추출": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "매출 구하기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "매출 구하기": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Data in Google Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Rsv List": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c688d831-9e0c-4501-8e48-e404225e5fe3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "zaiIcKRpFvOVuVnD",
  "tags": []
}